<div
    ng-class="{'col-md-12': preliquidacion.NominaId.ParametroPadreId.Nombre === 'CT' || preliquidacion.NominaId.ParametroPadreId.Nombre === 'HCH' , 'col-md-6 col-md-offset-1': preliquidacion.NominaId.ParametroPadreId.Nombre === 'HCS'}">
    <div ui-grid="d_preliquidacionAbierta.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-auto-resize
        class="myGrid">
    </div>
</div>

<div class="col-md-4"
    ng-if="preliquidacion.NominaId.ParametroPadreId.Nombre === 'HCS'">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">{{'CONTRATOS_PARA' | translate}} :
                {{d_preliquidacionAbierta.persona_seleccionada}}</div>
            <div class="panel-body">
                <div ui-grid="d_preliquidacionAbierta.informacion_contratos" ui-grid-selection ui-grid-pagination
                    ui-grid-auto-resize class="myGrid"></div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-8 col-md-offset-2">
    <br>
    <input type="submit" class="form-control btn btn-success" value="{{'PRELIQUIDAR' | translate}}"
        ng-click="d_preliquidacionAbierta.generar_preliquidacion()">
</div>



<div id="modal_detalle" class="modal fade " role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-4 col-md-5">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal"
                ng-click="">&times</button><br>
        </div>

        <ver-detalle-por-persona contrato="contrato" preliquidacion="preliquidacion" mostrarleyenda="mostrarleyenda"
            open="false"></ver-detalle-por-persona>
    </div>
</div>