<h2 class="page-header text-center">{{'PRELIQUIDACION_EMP' |translate}} : </h2>
<h3 class="page-header text-center">{{d_verDetallePorPersona.cedula_seleccionado}} - {{d_verDetallePorPersona.nombre_seleccionado}}</h3>
<div ng-repeat="detalle in d_verDetallePorPersona.detalles">

  <legend class="text-primary" ng-if="mostrarleyenda=='false'">
  {{'CARGANDO' | translate}} ...
  </legend class="text-primary">
<div class="col-md-12"  ng-if="mostrarleyenda=='true'" >

    <legend class="text-primary" ng-click="inputpestanaabierta=!inputpestanaabierta" ng-show="preliquidacion.Nomina.TipoNomina.Nombre === 'CT' || preliquidacion.Nomina.TipoNomina.Nombre === 'HCS' || preliquidacion.Nomina.TipoNomina.Nombre === 'HCH'">
      {{detalle.NumeroContrato}} de {{detalle.VigenciaContrato}}
      <span class="fa fa-plus pull-right" ng-show="!inputpestanaabierta"></span>
      <span class="fa fa-minus pull-right" ng-show="inputpestanaabierta"></span>
    </legend class="text-primary">


    <legend class="text-primary" ng-click="inputpestanaabierta=!inputpestanaabierta" ng-show="preliquidacion.Nomina.TipoNomina.Nombre === 'FP'">
      {{'DETALLE_EMP' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!inputpestanaabierta"></span>
      <span class="fa fa-minus pull-right" ng-show="inputpestanaabierta"></span>
    </legend class="text-primary">


     <div class="panel panel-primary" ng-if="inputpestanaabierta">
      <div class="panel-body">

            <table class="table  table-scrollable">
                <tr>
                    <th>{{'CONCEPTO' | translate}}</th>
                    <th>{{'VALOR'|translate}}</th>


                </tr>
                <tr ng-repeat="concepto in detalle.Conceptos" ng-show="concepto.NaturalezaConcepto === 1" class="devengo">
                    <td class="texto">{{concepto.AliasConcepto}}</td>
                    <td class="alineacion_derecha">{{concepto.Valor | currency}}</td>


                </tr>
                <tr ng-repeat="concepto in detalle.Conceptos" ng-show="concepto.NaturalezaConcepto === 2" class="descuento">
                    <td class="texto">{{concepto.AliasConcepto}}</td>
                    <td class="alineacion_derecha">{{concepto.Valor | currency}}</td>

                </tr>
                <tr ng-repeat="concepto in detalle.Conceptos" ng-show="concepto.NaturalezaConcepto === 3" class="seguridad_social">
                    <td class="texto">{{concepto.AliasConcepto}}</td>
                    <td class="alineacion_derecha">{{concepto.Valor | currency}}</td>

                </tr>
            </table>
            <br>
            <table class="table">
                <tr>

                    <th>{{'REALIZA_PAGO' | translate}}</th>
                    <td class="alineacion_derecha">{{detalle.EstadoPago}}</td>
                </tr>
                <tr>
                    <th>{{'TOTAL_DEV' | translate}}</th>
                    <td class="alineacion_derecha">{{detalle.TotalDevengos | currency}}</td>
                </tr>
                <tr>

                    <th>{{'TOTAL_DESC'| translate}}</th>
                    <td class="alineacion_derecha">{{detalle.TotalDescuentos | currency}}</td>
                </tr>
                <tr>
                    <th>{{'TOTAL_PAGAR' | translate}}</th>
                    <td class="alineacion_derecha">{{detalle.TotalAPagar | currency}}</td>
                </tr>
                <tr>
                    <th>{{'TOTAL_PAGAR_SALUD' | translate}}</th>
                    <td class="alineacion_derecha"> {{detalle.TotalConSalud | currency}}</td>
                </tr>

            </table>
        </div>
    </div>
</div>
</div>
