<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'MODULO_REPORTES' | translate}}</h2>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
         <div class="panel panel-default">
         
         
          <iframe 
          src=https://inteligenciainstitucional.portaloas.udistrital.edu.co/knowage/servlet/AdapterHTTP?ACTION_NAME=EXECUTE_DOCUMENT_ACTION&OBJECT_LABEL=RteTitan&TOOLBAR_VISIBLE=true&ORGANIZATION=DEFAULT_TENANT&NEW_SESSION=true
           frameborder="0">
     </iframe>
       
        
        </div>
         </div>
         
       
      </div>
     
  </div>
</div>