<div class="panel panel-primary panel-body">
	<h2 class="page-header text-center">{{ 'MODULO_REPORTES' | translate}}</h2>
	<div class="panel-body">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center">
					<h2>Salarios</h2>
					<form>
						<a title="Salarios" target="_blank"
							href="https://inteligenciainstitucional.portaloas.udistrital.edu.co/knowage/public/servlet/AdapterHTTP?ACTION_NAME=EXECUTE_DOCUMENT_ACTION&OBJECT_LABEL=CMTitanHCS&TOOLBAR_VISIBLE=true&ORGANIZATION=DEFAULT_TENANT&NEW_SESSION=true&PARAMETERS=anio%3D%26anio_field_visible_description%3D%26cumplido%3Dtrue%26cumplido_field_visible_description%3DSI%26mes%3D%26mes_field_visible_description%3D">
							<img src="../../images/reporte.png"  alt="Salarios" style="border: double;" height="200" width="200" />
						</a>
					</form>
				</div>

				<div class="col-sm-6 text-center">
					<h2>Honorarios</h2>
					<form>
						<a title="Honorarios" target="_blank"
							href="https://inteligenciainstitucional.portaloas.udistrital.edu.co/knowage/public/servlet/AdapterHTTP?ACTION_NAME=EXECUTE_DOCUMENT_ACTION&OBJECT_LABEL=CMTitanHCH&TOOLBAR_VISIBLE=true&ORGANIZATION=DEFAULT_TENANT&NEW_SESSION=true&PARAMETERS=anio%3D%26anio_field_visible_description%3D%26cumplido%3Dtrue%26cumplido_field_visible_description%3DSI%26mes%3D%26mes_field_visible_description%3D">
							<img src="../../images/reporte.png" alt="Honorarios" style="border: double;" height="200" width="200"/>
						</a>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>