<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'MODULO_REPORTES' | translate}}</h2>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
         <div class="panel panel-default">
         
          <select class="form-control" ng-model="reportesCt.nombreReporte">
            <option value="" disabled>{{"SELECCIONE_REPORTE" | translate}}</option>
            <option value="RteTitan">{{"LIQUIDACION CPS" | translate}}</option>
          </select>
        
          <iframe width="600" height="600" 
          src=https://inteligenciainstitucional.portaloas.udistrital.edu.co/knowage/servlet/AdapterHTTP?ACTION_NAME=EXECUTE_DOCUMENT_ACTION&OBJECT_LABEL=RteTitan&TOOLBAR_VISIBLE=true&ORGANIZATION=DEFAULT_TENANT&NEW_SESSION=true&PARAMETERS=anio%3D2021%26anio_field_visible_description%3D2021%26mes%3D6%26mes_field_visible_description%3D6
           frameborder="0">
     </iframe>
       
        
        </div>
         </div>
         
       
      </div>
      <div class="col-md-1" ng-show="reportesCt.mesReporte !== 0"></div>
          <spagobi reporte="{{reportesCt.nombreReporte}}"></spagobi>
    </div>
  </div>
</div>