<div class="panel panel-primary panel-body">
    <h2 class="page-header text-center">{{'TITULO_NOVEDADES'| translate}}</h2>

    <div class="row" ng-if="!load">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{'SELECCION_PERSONA'| translate}}</div>
                <div class="panel-body">
                    <div ui-grid="gridOptions_personas" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="miGrid"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">{{'DETALLE_NOVEDAD'| translate}}</div>
                <div class="panel-body">
                    <div ui-grid="gridOptions_novedades" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="miGrid">
                        <div class="watermark" ng-show="!novedadRegistro.hayNovedad">{{'ALERTA_NO_NOVEDADES'| translate}}</div>
                    </div>
                    <br>
                    <center>
                        <button class="btn btn-success" data-toggle="modal" data-target="#modal_adicion_novedad" ng-click="novedadRegistro.listar_conceptos()" ng-show="persona">{{'AGREGAR_NOVEDAD' | translate}}</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_adicion_novedad" class="modal fade" role="dialog">
    <style>
        .md-datepicker-calendar-pane {
            z-index: 1200
        }
    </style>
    <div class="modal-content col-md-7 col-md-offset-3" style="margin-top: 5%">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'TITULO_REG_NOVEDAD'| translate}}</h3>
                </div>
                <div class="panel-body">
                    <div ui-grid="gridOptions_conceptos" ui-grid-selection ui-grid-auto-resize class="myGrid"></div>
                    <form name="formplan" ng-submit="formplan.$valid">
                        <div ng-show="concepto.TipoConcepto.Nombre==='fijo'">

                            <div class="form-group">
                                <label class="col-md-1 col-form-label col-sm-offset-4" for="txtValNovedad">{{'VALOR_CONCEPTO' | translate}}</label>
                                <div class="col-md-5">
                                    <input type="number" pattern="[0-9]*" ng-model="novedadRegistro.ValorNovedad" md-placeholder="{{'VALOR_CONCEPTO' | translate}}" required >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-1 col-form-label col-sm-offset-4" for="txtCuotas">{{'CUOTAS_NOV' | translate}}</label>
                                <div class="col-md-5">
                                    <input type="number" pattern="[0-9]*" ng-model="novedadRegistro.NumCuotas" md-placeholder="{{'CUOTAS_NOV' | translate}}" required>
                                </div>
                            </div>

                            <div class="col-md-4 col-form-label col-sm-offset-4">
                                <input type="submit" class="form-control btn btn-success" value="{{'CONFIRMAR' | translate}}" ng-click='novedadRegistro.Registrar()'>

                          </div>
                          </div>
                        </form>

                        <form name="formplan" ng-submit="formplan.$valid">
                        <div ng-show="concepto.TipoConcepto.Nombre==='porcentual'">
                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-1 col-form-label col-sm-offset-4"  for="txtValNovedad">{{'VALOR_CONCEPTO' | translate}}</label>
                                <div class="col-md-5">
                                    <input  type="number" pattern="[0-9]*" ng-model="novedadRegistro.ValorNovedad" md-placeholder="{{'VALOR_CONCEPTO'| translate}}" required  min="1" max="100">  %
                                </div>
                            </div>
                            <div class="col-md-4 col-form-label col-sm-offset-4">
                                <input type="submit" class="form-control btn btn-success" value="{{'CONFIRMAR' | translate}}" ng-click='novedadRegistro.Registrar()'>

                          </div>
                        </div>
                        </form>

                        <form name="formplan" ng-submit="formplan.$valid">
                        <div ng-show="concepto.TipoConcepto.Nombre==='seguridad_social'">
                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-2 col-form-label col-sm-offset-4" for="txtFechaInicio">{{'FECHA_INICIO' | translate}}</label>
                                <div class="col-md-6">
                                    <md-datepicker  ng-model="novedadRegistro.FechaInicio" md-placeholder="{{'FECHA_INICIO'| translate}}"></md-datepicker>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-form-label col-sm-offset-4" for="txtFechaFin">{{'FECHA_FIN' | translate}}</label>
                                <div class="col-md-6">
                                    <md-datepicker  ng-model="novedadRegistro.FechaFin" md-placeholder="{{'FECHA_FIN'| translate}}"></md-datepicker>
                                </div>
                            </div>

                            <div class="col-md-4 col-form-label col-sm-offset-4">
                                <input type="submit" class="form-control btn btn-success" value="{{'CONFIRMAR' | translate}}" ng-click='novedadRegistro.Registrar()'>

                          </div>
                        </div>
                      </form>
                </div>
            </div>
            <div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal_edicion_novedad" class="modal fade" role="dialog">
    <style>
        .md-datepicker-calendar-pane {
            z-index: 1200
        }
    </style>

    <div class="modal-content col-md-5 col-md-offset-4" style="margin-top: 5%">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'TITULO_EDICION_NOVEDAD' | translate}}</h3>
                </div>
                <div class="panel-body">
                    <form name="formplan" ng-submit="formplan.$valid">

                        <div ng-show="novedadRegistro.tipo_concepto_edicion ==='porcentual'">
                            <div class="form-group">
                                <label class="col-md-1 col-form-label col-sm-offset-4" for="txtValNovedad">{{'VALOR_CONCEPTO' | translate}}</label>
                                <div class="col-md-4">
                                    <input type="number" pattern="[0-9]*" ng-model="novedadRegistro.valor_novedad_edicion" md-placeholder="{{'VALOR_CONCEPTO' | translate}}" required  min="1" max="100"> %
                                </div>
                            </div>

                            <div class="col-md-4 col-form-label col-sm-offset-4">
                                <input type="submit" class="form-control btn btn-success" value="{{'CONFIRMAR' | translate}}" ng-click='novedadRegistro.Editar()'>

                          </div>

                        </div>
                        </form>

                        <form name="formplan" ng-submit="formplan.$valid">
                        <div ng-show="novedadRegistro.tipo_concepto_edicion ==='fijo'">
                            <div class="form-group">
                                <label class="col-sm-5 col-form-label" for="txtValNovedad">{{'VALOR_CONCEPTO' | translate}}</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control currency" pattern="[0-9]*" ng-model="novedadRegistro.valor_novedad_edicion" md-placeholder="{{'VALOR_CONCEPTO' | translate}}" required="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 col-form-label" for="txtCuotas">{{'CUOTAS_NOV' | translate}}</label>
                                <div class="col-md-4">
                                    <input type="number" pattern="[0-9]*" ng-model="novedadRegistro.num_cuotas_edicion" md-placeholder="{{'CUOTAS_NOV' | translate}}" required="">
                                </div>
                            </div>

                            <div class="col-md-4 col-form-label col-sm-offset-4">
                                <input type="submit" class="form-control btn btn-success" value="{{'CONFIRMAR' | translate}}" ng-click='novedadRegistro.Editar()'>

                          </div>

                        </div>
                        </form>

                        <form name="formplan" ng-submit="formplan.$valid">
                        <div ng-show="novedadRegistro.tipo_concepto_edicion ==='seguridad_social'">
                            <div class="form-group">
                                <label class="col-sm-5 col-form-label" for="txtFechaDesde">{{'FECHA_INICIO' | translate}}</label>
                                <div class="col-md-4">
                                    <md-datepicker ng-model="novedadRegistro.FechaInicio" md-placeholder="{{'FECHA_INICIO'| translate}}"></md-datepicker>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 col-form-label" for="txtFechaHasta">{{'FECHA_FIN' | translate}}</label>
                                <div class="col-md-4">
                                    <md-datepicker ng-model="novedadRegistro.FechaFin" md-placeholder="{{'FECHA_FIN'| translate}}"></md-datepicker>
                                </div>
                            </div>

                            <div class="col-md-4 col-form-label col-sm-offset-4">
                                <input type="submit" class="form-control btn btn-success" value="{{'CONFIRMAR' | translate}}" ng-click='novedadRegistro.Editar()'>

                          </div>
                        </div>

                      </form>


                </div>
            </div>
        </div>
    </div>
</div>
