<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Titán</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="https://use.fontawesome.com/64b53ddd5b.js"></script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control.css" />
    <link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.css" />
    <link rel="stylesheet" href="bower_components/font-awesome-animation/dist/font-awesome-animation.css" />
    <link rel="stylesheet" href="bower_components/font-awesome-animation/dist/font-awesome-animation.min.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->

    <link rel="stylesheet" href="styles/titan.css">
    <link rel="stylesheet" href="styles/custom.css">
    <!-- build:css(.tmp) styles/main.css -->
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/titan.css">
    <link rel="stylesheet" href="styles/custom.css">
    <link rel="stylesheet" href="core/css/steeper.css">
    <link rel="stylesheet" href="core/css/core.css">
    <link rel="stylesheet" href="core/footer/footer.css">
    <link rel="stylesheet" href="core/header/header.css">
    <link rel="stylesheet" href="core/menu-lateral/menu-lateral.css">
    <link rel="stylesheet" href="core/menu-aplicaciones/menu-aplicaciones.css">
    <link rel="stylesheet" href="core/notificaciones/notificaciones.css">
    <link rel="stylesheet" href="core/css/ui-grid.css">
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/nix-style.css"> <!-- nix-style.css, gaia-style.css, athenea-style.css y urano-style.css -->
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/oas-style.css">
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/logo-stylus.css">
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/logo-info.css">
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/isotipo-header.css">
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/logo-header.css">

<body ng-app="titanClienteV2App">
    <div ng-controller="headerCtrl">
        <div ng-if="!isLogin" id="nb-global-spinner" class="spinner">
            <div class="blob blob-0"></div>
            <div class="blob blob-1"></div>
            <div class="blob blob-2"></div>
            <div class="blob blob-3"></div>
            <div class="blob blob-4"></div>
            <div class="blob blob-5"></div>
        </div>
        <div ng-if="isLogin" ng-include="'core/header/header.html'" ng-controller="headerCtrl">
        </div>
        <div ng-if="isLogin" class="body-container-menuaplicaciones"
            ng-include="'core/menu-aplicaciones/menu-aplicaciones.html'" ng-controller="menuaplicacionesCtrl">
        </div>
        <div ng-if="isLogin" class="body-container-notificaciones"
            ng-include="'core/notificaciones/notificaciones.html'" ng-controller="notificacionesCtrl">
        </div>
        <div ng-if="isLogin" class="container-app">
            <div id="menu-sidebar-container" ng-class="sidebarClases.sidebarContainerClase" ng-controller="headerCtrl">
                <div id="menu-sidebar" ng-include="'core/menu-lateral/menu-lateral.html'"
                    ng-controller="menuLateralCtrl" ng-class="sidebarClases.sidebarDivClase">
                </div>
            </div>
            <div ng-class="sidebarClases.containerBodyClase" ng-controller="headerCtrl">
                <div ng-view="" ng-class="sidebarClases.containerDivClase" ng-controller="headerCtrl">
                </div>
            </div>
        </div>
        <div ng-if="isLogin" class="container-footer" ng-include="'core/footer/footer.html'" ng-controller="footerCtrl">
        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        ! function(A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>
    <script src="bower_components/AngularJS-OAuth2/dist/angularJsOAuth2.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-tree-control/angular-tree-control.js"></script>
    <script src="bower_components/pdfmake/build/pdfmake.js"></script>
    <script src="bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/kjur-jsrsasign/jsrsasign-all-min.js"></script>
    <script src="bower_components/angular-websocket/dist/angular-websocket.js"></script>
    <script src="bower_components/angular-input-masks/angular-input-masks-standalone.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/sweetalert2/dist/sweetalert2.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/ng-knob/dist/ng-knob.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="core/core.module.js"></script>
    <script src="core/header/header.js"></script>
    <script src="core/footer/footer.js"></script>
    <script src="core/menu-lateral/menu-lateral.js"></script>
    <script src="core/menu-lateral/opciones-component/opciones-directive.js"></script>
    <script src="core/menu-aplicaciones/menu-aplicaciones.js"></script>
    <script src="core/notificaciones/notificaciones.js"></script>
    <script src="core/services/notificacion.js"></script>
    <script src="core/services/theme.js"></script>
    <script src="core/services/implicit_token.js"></script>
    <!-- endbuild -->
</body>
<!-- <script src="scripts/services/token.js"></script> -->
<script src="scripts/environment/environment.js"></script>
<!-- <script src="scripts/services/implicit_token.js"></script> -->
<!-- <script src="scripts/services/notificacion.js"></script> -->
<!-- <script src="scripts/controllers/menu.js"></script> -->
<!-- <script src="scripts/controllers/footer.js"></script> -->
<!-- <script src="scripts/controllers/notificaciones.js"></script> -->
<script src="bower_components/moment/locale/es.js"></script>
<script src="scripts/decorators/text_translate.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/services/titan_service.js"></script>
<script src="scripts/services/administrativa_amazon_service.js"></script>
<script src="scripts/services/oikos_service.js"></script>
<script src="scripts/controllers/preliquidacion/preliquidacion_registro.js"></script>
<script src="scripts/controllers/preliquidacion/preliquidacion_personas.js"></script>
<script src="scripts/services/titanmidservice.js"></script>
<script src="scripts/controllers/preliquidacion/preliquidacion_detalle.js"></script>
<script src="scripts/controllers/novedades/novedad_registro.js"></script>
<script src="scripts/controllers/conceptos/modulo_conceptos.js"></script>
<script src="scripts/controllers/reportes/reportes_hc.js"></script>
<script src="scripts/controllers/reportes/reportes_ct.js"></script>
<script src="scripts/controllers/pensiones/beneficiarios.js"></script>
<script src="scripts/controllers/pensiones/sustituto.js"></script>
<!-- <script src="scripts/services/config.js"></script> -->
<script src="scripts/services/configuracion_service.js"></script>
<script src="scripts/services/request_service.js"></script>

<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/extras.js -->
<script src="scripts/directives/btn_registro.js"></script>
<script src="scripts/directives/loadingcircle.js"></script>
<script src="scripts/directives/preliquidacion/ver_detalle_por_persona.js"></script>
<script src="scripts/directives/preliquidacion/preliquidacion_abierta.js"></script>
<script src="scripts/directives/preliquidacion/preliquidacion_pendientes.js"></script>
<!-- endbuild -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

</html>
