<div class="row jumbotron">

    <div  class="col-sm-12 panel panel-default" ng-show='formVisibility' >


            <h2>Registro beneficiario</h2>
          <form>

          <div class="form-group row">
            <select class="select_Tipo_Documento" name="selectTipoDocumento">
              <option selected disabled>Seleccione...</option>
              <option value="cedula_ciudadania">Cedula de ciudadania</option>
              <option value="cedula_extranjeria">Cedula de extranjeria</option>
              <option value="tarjeta_identidad">Tarjeta de identidad</option>
            </select>
            <label for="input_id" class="col-sm-5 col-form-label">Numero de identificacion</label>
            <input type="text" name="input_id" ng-model="idpersona" placeholder="ingrese identificacion">
          </div>

          <div class="form-group row">
            <label for="input_nombre" class="col-sm-5 col-form-label">Nombres del beneficiario</label>
            <input name="input_nombre" type="text" ng-model="primernombreBeneficiario" placeholder="Primer nombre">
            <input name="input_nombre" type="text" ng-model="segundonombreBeneficiario" placeholder="Segundo nombre">
          </div>

          <div class="form-group row">
            <label for="input_apellido" class="col-sm-5 col-form-label">Apellido del beneficiario</label>
            <input name="input_apellido" type="text" ng-model="ApellidoBeneficiario" placeholder="Primer apellido ">
            <input name="input_apellido" type="text" ng-model="SegundoapellidoBeneficiario" placeholder="Segundo apellido">
          </div>

          <div class="form-group row">
            <label for="select_categoria_beneficiario" class="col-sm-5 col-form-label">Parentesco</label>
            <select name="select_categoria_beneficiario" id="select_categoria_beneficiario" ng-model="selectCategoria">
              <option selected disabled>Seleccione..</option>
              <option  value="conyugue">Conyugue</option>
              <option  value="hijo">Hijo</option>
              <option  value="padre">Padre</option>
              <option  value="madre">Madre</option>
              <option  value="hermanodisc">Hermano con discapacidad</option>
            </select>
          </div>

          <div class="form-group row">
           <label for="select_parentesco con" class="col-sm-5 col-form-label">Pariente directo de</label>
           <input type="text" name="parentesco_com" placeholder="identificacion del pariente">
         </div>
         <div class="form-group row">
           <label for="input_nombre" class="col-sm-5 col-form-label">Nombre del pariente</label>
           <input name="input_nombre" type="text" ng-model="nombres pariente" placeholder="Nombres">
           <input name="input_nombre" type="text" ng-model="apellido pariente" placeholder="Apellido">
         </div>

          <div class="form-group row">
           <label for="select_genero" class="col-sm-5 col-form-label">Genero </label>
           <select name="select_genero" id="select_genero" ng-model="selectGenero">
             <option selected disabled>Seleccione..</option>
             <option  value="masculino">Masculino</option>
             <option  value="femenino">Femenino</option>
           </select>
         </div>
           <div class="form-group row">
            <label for="select_email" class="col-sm-5 col-form-label">Correo electronico </label>
            <input type="text" name="email" placeholder="Correo electronico">
          </div>
           <div class="form-group row">
            <label for="select_numcontacto" class="col-sm-5 col-form-label">Numero de contacto</label>
            <input type="text" name="numero_contacto" placeholder="numero de contacto">
          </div>
           <div class="form-group row">
            <label for="input_fechaNac" class="col-sm-5 col-form-label">Fecha de Nac</label>
            <input type="date" name="fecha">
            <md-datepicker ng-model="fecha_naci" md-placeholder="Fecha de nacimiento"></md-datepicker>
          </div>
          <div class="form-group row">
           <label for="select_estado_civil" class="col-sm-5 col-form-label">Estado civil</label>
           <select name="select_estcivil" id="select_estcivil" ng-model="select_estcivil">
             <option selected disabled>Seleccione..</option>
             <option  value="Soltero">Soltero</option>
             <option  value="Casado">Casado</option>
             <option  value="Union libre">Union libre</option>
             <option  value="Union libre">Separado</option>
             <option  value="viudez">viudez</option>
           </select>
         </div>
          <div class="form-group row">
           <label for="select_eps" class="col-sm-5 col-form-label">Afiliacion a Eps</label>
           <select name="select_eps" id="select_eps" ng-model="select_eps">
             <option selected disabled>Seleccione..</option>
             <option  value="2">Salud Total</option>
             <option  value="3">CafeSalud</option>
             <option  value="4">Sanitas</option>
             <option  value="5">Compensar</option>
             <option  value="5">Confenalco antioquia</option>
             <option  value="5">eps sura</option>
             <option  value="5">Saludcoop</option>
             <option  value="5">HumanaVivir</option>
             <option  value="5">Salud Colpatria</option>
             <option  value="5">Coomeva</option>
             <option  value="5">Famisanar</option>
             <option  value="5">Cruz Blanca</option>
             <option  value="5">Nueva Eps</option>
             <option  value="5">Otra</option>
           </select>
         </div>

         <div class="form-group row">
           <label for="tipo_cuenta_banco" class="col-sm-5 col-form-label" >Tipo de cuenta bancaria:</label>
           <select class="tipo_cuenta_banc">
             <option selected disabled>Seleccione..</option>
             <option value="ahorros">AHORROS</option>
             <option value="corriente">CORRIENTE</option>
           </select>
          </div>

          <div class="form-group row">
            <label for="num_cuenta_bancaria" class="col-sm-5 col-form-label">Numero de cuenta bancaria</label>
             <input type="text" name="num_cuenta" placeholder="ingrese numero cuenta">
          </div>

          <div class="form-group row">
            <label for="nombre_banco" class="col-sm-5 col-form-label">Banco asociado</label>
            <input type="text" name="nombre_banco" placeholder="Banco">
          </div>

         <div class="form-group row">
          <label for="select_numcontacto" class="col-sm-5 col-form-label">Activo</label>
          <select class="estado" name="estado">
            <option selected disabled>Seleccione..</option>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>

          </select>
        </div>
            <button ng-click='limpiar()' class="btn">Cancelar</button>
            <button ng-click='registrar_beneficiario()' class="btn">Registrar</button>
         </form>
         <br>
         <br>



</div>
