<div class="row jumbotron">
    <div  class="col-sm-12 panel panel-default" >
      <h2>{{'TITULO_SUS' | translate}}</h2><br>
      <form >
        <div class="form-group row">
          <label for="pensionado" class="col-sm-5 col-form-label">{{'DOC_FUN_PEN' | translate}}</label>
          <input type="text" name="id_pensionado" ng-model = "sustituto.selectPensionado">
        </div>

        <div class="form-group row">
          <label for="beneficiario" class="col-sm-5 col-form-label">{{'DOC_BEN_SUS' | translate}}</label>
          <input type="text" name="id_beneficiario" ng-model = "sustituto.selectBeneficiario">
        </div>

        <div class="form-group row">
          <label for="porcentaje_sust" class="col-sm-5 col-form-label">{{'PORCENTAJE' | translate}} </label>
          <input type="text" name="id_beneficiario" maxlength="3"  ng-model = "sustituto.selectPorcentaje" placeholder="%  1 - 100">
        </div>

        <div class="form-group row">
         <label for="select_numcontacto" class="col-sm-5 col-form-label">{{'ESTADO_SUS' | translate}}</label>
         <select class="estado" name="estado" ng-model = "sustituto.estado">
           <option selected disabled>{{'SELECCIONE' | translate}}</option>
           <option value="A">{{'ACTIVO' | translate}}</option>
           <option value="I">{{'INACTIVO' | translate}}</option>
         </select>
       </div>

       <br><br>
       <div class="form-group row">
         <label><i>{{'TITULO_TUTOR' | translate}}</i></label>
       </div>

        <br><br><br><br>

       <div class="panel panel-default">
         <div class="panel-heading">
           <h3 class="panel-title">{{'TITULO_REG_TUTOR' | translate}}</h3>
         </div>
         <div class="panel-body">
           <div class="form-group row">
             <select class="select_Tipo_Documento" name="selectTipoDocumento" ng-model ="sustituto.tipoDocumento">
               <option selected disabled>{{'SELECCIONE' | translate}}</option>
               <option value="7">{{'CED_CIU' | translate}}</option>
               <option value="10">{{'CEDULA_EXTRAN' | translate}}</option>
               <option value="2">{{'TARJETA_IDEN' | translate}}</option>
             </select>
             <label for="input_id" class="col-sm-5 col-form-label">{{'NUM_DOC_TUTOR' | translate}}</label>
             <input type="text" name="input_id" ng-model ="sustituto.numDocumento" placeholder="{{'NUM_DOC_TUTOR' | translate}}">
           </div>

           <div class="form-group row">
             <label for="input_nombre" class="col-sm-5 col-form-label">{{'NOM_TUTOR' | translate}}</label>
             <input name="input_nombre" type="text" ng-model="sustituto.primerNombreTutor" placeholder="{{'PRI_NOM' | translate}}">
             <input name="input_nombre" type="text" ng-model="sustituto.segundoNombreTutor" placeholder="{{'SEG_NOM' | translate}}">
           </div>

           <div class="form-group row">
             <label for="input_apellido" class="col-sm-5 col-form-label">{{'APE_TUTOR' | translate}}</label>
             <input name="input_apellido" type="text" ng-model="sustituto.primerApellidoTutor" placeholder="{{'PRI_APE' | translate}}">
             <input name="input_apellido" type="text" ng-model="sustituto.segundoAPellidoTutor" placeholder="{{'SEG_NOM' | translate}}">
           </div>

           <div class="form-group row">
             <label for="input_apellido" class="col-sm-5 col-form-label">{{'BEN_ASOCIADO' | translate}}</label>
             <input name="input_apellido" type="text" ng-model="sustituto.ccBeneficiario" placeholder="{{'ID_BENEFICIARIO' | translate}}">
           </div>

           <div class="form-group row">
            <label for="select_genero" class="col-sm-5 col-form-label">{{'GENERO' | translate}} </label>
            <select name="select_genero" id="select_genero" ng-model="sustituto.genero">
              <option selected disabled>{{'SELECCIONE' | translate}}</option>
              <option  value="MASCULINO">{{'MASCULINO' | translate}}</option>
              <option  value="FEMENINO">{{'FEMENINO' | translate}}</option>
            </select>
          </div>

           <div class="form-group row">
            <label for="select_email" class="col-sm-5 col-form-label">{{'CORREO_ELEC' | translate}} </label>
            <input type="text" name="email" placeholder="{{'CORREO_ELEC' | translate}}" ng-model="sustituto.correo">
          </div>
           <div class="form-group row">
            <label for="select_numcontacto" class="col-sm-5 col-form-label">{{'NUMERO_CONTACTO' | translate}}</label>
            <input type="text" name="numero_contacto" placeholder="{{'NUMERO_CONTACTO' | translate}}" ng-model="sustituto.telefono">
          </div>

          <div class="form-group row">
            <label for="tipo_cuenta_banco" class="col-sm-5 col-form-label" >{{'TIPO_CUENTA' | translate}}</label>
            <select class="tipo_cuenta_banc" ng-model="sustituto.tipoCuenta">
              <option selected disabled>{{'SELECCIONE'| translate}}</option>
              <option value="AHORROS">{{'AHORROS'| translate}}</option>
              <option value="CORRIENTE">C{{'CORRIENTE'| translate}}</option>
            </select>
           </div>

           <div class="form-group row">
             <label for="num_cuenta_bancaria" class="col-sm-5 col-form-label">{{'NUMERO_CUENTA' | translate}}</label>
              <input type="text" name="num_cuenta" placeholder="{{'NUMERO_CUENTA' | translate}}" sustituto.tipoCuenta>
           </div>

           <div class="form-group row">
             <label for="nombre_banco" class="col-sm-5 col-form-label">{{'BANCO_ASOCIADO' | translate}}</label>
             <select name="select_banco"  ng-model="sustituto.selectBanco">
               <option selected disabled>{{'SELECCIONE'| translate}}</option>
               <option ng-repeat="tbanco in sustituto.banco"  value="{{tbanco.Id}}">{{tbanco.NombreBanco}}</option>
             </select>
           </div>

           <div class="form-group row">
            <button ng-click='sustituto.habilitar_sustituto()' class="btn">{{'HABILITAR_BENEFICIARIO' | translate}}</button>
            <button ng-click='sustituto.limpiar()' class="btn">{{'CANCELAR'| translate}}</button>
          </div>

         </div>
       </div>
      </form>
</div>
