
<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{'PRELIQ_NOMINA'| translate}}{{preliquidacionPersonas.preliquidacion.Nomina.TipoNomina.Nombre}}<br>{{'FECHA_PRELIQ'| translate}} : {{preliquidacionPersonas.preliquidacion.FechaRegistro | date:"yyyy-MM-dd":"+0900"}}</h2>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
           <h4 class="intro-text"> {{ 'PAGOS_REALIZAR' | translate }} </h4>
         </div>
          <div ui-grid="preliquidacionPersonas.gridOptions" ui-grid-selection ui-grid-pagination class="grid"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
           <h4 class="intro-text"> {{ 'PENDIENTES_PAGO' | translate }} </h4>
         </div>
          <div ui-grid="preliquidacionPersonas.personas_pendientes" ui-grid-selection ui-grid-pagination class="grid"></div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <input type="submit" class="form-control btn btn-success" value="{{preliquidacionPersonas.btnGenerartxt}}" ng-click="preliquidacionPersonas.generar_preliquidacion()">
      </div>

    </div>
  </div>
</div>
