<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{'TITULO_DETALLE_PRELIQ' | translate}} <b>{{preliquidacionDetalle.preliquidacion.Nomina.TipoNomina.Descripcion}}</b></h2>
  <h2 class="text-center">{{preliquidacionDetalle.preliquidacion.Mes}} de {{preliquidacionDetalle.preliquidacion.Ano}}</h2>
<div class="row">
  <div class="col-md-4">
      <div class="panel panel-primary">

          <center><h4>{{'TOTAL_CONT_LIQUIDADOS'| translate}} : {{preliquidacionDetalle.total_contratos_liquidados}}</h4></center>
          <div class="panel-body">
              <!--<button ng-click="preliquidacionDetalle.generar_pdf()"  class="btn btn-primary btn-lg " ng-disabled="preliquidacionDetalle.saving"> <i class="fa fa-spinner fa-spin" ng-show="preliquidacionDetalle.saving" ></i>{{'GENERAR_PDF' | translate}}</button>-->
            <div ui-grid="preliquidacionDetalle.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="myGrid"></div>



              <div ng-show="preliquidacionDetalle.preliquidacion.Nomina.Id == 3 || preliquidacionDetalle.preliquidacion.Nomina.Id == 4 || preliquidacionDetalle.preliquidacion.Nomina.Id == 5">
                  <br>
                  <button ng-click="preliquidacionDetalle.solicitar_op()" class="btn btn-primary btn-lg " ng-disabled="preliquidacionDetalle.saving"> <i class="fa fa-spinner fa-spin" ng-show="preliquidacionDetalle.saving" ></i>{{'GENERAR_OP' | translate}}</button>
              </div>
              <div ng-show="preliquidacionDetalle.preliquidacion.Nomina.Id == 1 || preliquidacionDetalle.preliquidacion.Nomina.Id == 2">
                  <br>
                  <button ng-click="preliquidacionDetalle.solicitar_necesidad()" class="btn btn-primary btn-lg " ng-disabled="preliquidacionDetalle.saving"> <i class="fa fa-spinner fa-spin" ng-show="preliquidacionDetalle.saving" ></i>{{'GENERAR_NECESIDAD' | translate}}</button>
              </div>
              </div>
          </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-default">
              <div ui-grid="preliquidacionDetalle.gridOptions_resumen" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="myGrid"></div>
              </div>
      </div>

      <div class="col-md-5">
        <div class="panel panel-default">
              <div ui-grid="preliquidacionDetalle.gridOptions_detalle" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="myGrid"></div>
              </div>
      </div>

  </div>


</div>
