<br>
 <div class="alert alert-warning text-center" ng-show='preliquidacionRegistro.loading'>
            <div class="row">
              <h1 class="col-sm-7">{{'GENERANDO'| translate}}</h1>
              <div class="loader col-sm-5" ></div>
            </div>
</div>
<div class="row jumbotron" ng-hide='preliquidacionRegistro.loading'>
<button class="btn btn-success" ng-click='preliquidacionRegistro.ShowForm()' ng-hide="preliquidacionRegistro.formVisibility">{{'ANADIR_PRELIQ' | translate}}</button>
    <div  style="margin:0 auto;" class="col-sm-6 panel panel-default" ng-show='preliquidacionRegistro.formVisibility' >



            <h2>{{'TITULO_REG_PRELIQ' | translate}}</h2>
            <form>

              <label for="input_mes" class="col-sm-5 col-form-label">{{'MES_PRELIQ' | translate}}</label>
              <select  ng-model="preliquidacionRegistro.mesPeriodo" ng-init="preliquidacionRegistro.mesPeriodo" class="form-control" required>
              <option value="" disabled>{{ 'MES_PRELIQ' | translate }}</option>
              <option ng-repeat="(key, value) in preliquidacionRegistro.meses" value="{{key}}">{{value}}</option>
              </select>
             <label for="input_ano" class="col-sm-5 col-form-label">{{'ANO_PRELIQ' | translate}}</label>
            <select  ng-model="preliquidacionRegistro.anioPeriodo" ng-init="preliquidacionRegistro.anioPeriodo" class="form-control" required>
              <option value="" disabled>{{'ANO_PRELIQ' | translate}}</option>
              <option ng-repeat="a in preliquidacionRegistro.anios" value="{{a.anio}}" required>{{a.anio}}</option>
            </select>

            </br>
            <button ng-click='preliquidacionRegistro.limpiar()' class="btn btn-danger">{{'CANCELAR' | translate}}</button>
            <button ng-click='preliquidacionRegistro.registrar_preliqu()' class="btn btn-success">{{'REGISTRAR'| translate}}</button>

         </form>


    </div>
    <br>
    <br>
    <br>
    <div class="col-sm-12 panel panel-default">

       <h2>{{'TITULO_PRELIQ_REGIS'|translate}} <b>{{preliquidacionRegistro.nomina.TipoNomina.Nombre}}</b> :</h2>

          <table  style="width:95%;">
            <tr>
              <td width="10%">
              </td>

              <td>
                <div  ui-grid="preliquidacionRegistro.gridOptions"  class="myGrid"></div>
              </td>
            </tr>
          </table>
    </div>
</div>
